
<app-confetti *ngIf="showScore"></app-confetti>
<h1>Your score is</h1>

<div class="score">
  <div *ngIf="showScore" class="stars">
    <div class="star"><img src="../../../assets/star-svgrepo-com.svg" alt=""></div>
    <div class="star"><img src="../../../assets/star-svgrepo-com.svg" alt=""></div>
    <div class="star"><img src="../../../assets/star-svgrepo-com.svg" alt=""></div>
    <div class="star"><img src="../../../assets/star-svgrepo-com.svg" alt=""></div>
    <div class="star"><img src="../../../assets/star-svgrepo-com.svg" alt=""></div>
  </div>
</div>
